@layer global {
  /* dm-sans-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/dm-sans-v17-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/dm-sans-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/dm-sans-v17-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/dm-sans-v17-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-600italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/dm-sans-v17-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/dm-sans-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* bricolage-grotesque-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/bricolage-grotesque-v9-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  :root {
    --c-neutral-900: hsl(243, 96%, 9%);
    --c-neutral-800: hsl(243, 27%, 20%);
    --c-neutral-700: hsl(243, 23%, 24%);
    --c-neutral-600: hsl(243, 23%, 30%);
    --c-neutral-300: hsl(240, 6%, 70%);
    --c-neutral-200: hsl(250, 6%, 84%);
    --c-neutral-0: hsl(0, 0%, 100%);
    --c-blue-500:hsl(233, 67%, 56%);
    --c-blue-700:hsl(248, 70%, 36%);
  
    --color-main-bg: var(--c-neutral-900);
    --color-text-light: var(--c-neutral-0);
    --color-text-med-light:var(--c-neutral-200);
    --color-panel-bg-dark:var(--c-neutral-800);
    --color-panel-bg-dark-hover:var(--c-neutral-700);
    --color-panel-bg-med:var(--c-neutral-700);
    --color-panel-bg-light:var(--c-neutral-600);
    --color-panel-border:var(--c-neutral-600);
    --color-button-bg:var(--c-blue-500);
    --color-button-bg-hover:var(--c-blue-700);
  
    /* 96px is font size -> 16px - 1rem -> here we are converting fs to rem*/
    --fs-96: calc(96 / 16 * 1rem);
    --fs-52: calc(52 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);
  
    --font-size-h1: var(--fs-52);
    --font-size-dropdown: var(--fs-14);
    --font-size-search: var(--fs-20);
    --font-size-city: var(--fs-28);
    --font-size-date: var(--fs-18);
    --font-size-temp: var(--fs-96);
    --font-size-panel-title: var(--fs-18);
    --font-size-panel-value: var(--fs-32);
    --font-size-forecast-title: var(--fs-20);
    --font-size-forecast-day: var(--fs-18);
    --font-size-forecast-temp: var(--fs-16);
    --font-size-forecast-dropdown: var(--fs-16);
    --font-size-forecast-hour: var(--fs-20);
  
  
  
  /* If screen width ≥ 700px → set dropdown font-size to var(--fs-16). */
    @media(width >= calc(700 / 16 * 1rem)) {
       --font-size-dropdown: var(--fs-16);
    }
  }
  *,*::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  img {
    max-width:100%;
  }
  body {
    font-family: "DM Sans", Arial, Helvetica,sans-serif;
    font-weight: 500;
    background-color: var(--color-main-bg);
    color: var(--color-text-light);
    line-height: 1.2;
    padding-block-end: 80px;
  }
  h1
  {
      font-family: "Bricolage Grotesque",sans-serif;
  }
   input, button, textarea {
    font: inherit;
    width: 100%;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr calc(100% - 32px) 1fr;
      /* For tablets */
      @media (width >= calc(700 / 16 * 1rem)) {
         grid-template-columns: 1fr min(calc(100% - 48px), calc(1216 / 16 - 1rem)) 1fr;
      }
       /* For desktop */
      @media (width >= calc(1000 / 16 * 1rem)) {
         grid-template-columns: 1fr calc(1216 / 16 - 1rem) 1fr;
      }
    > * {
      grid-column: 2;
    }
  }
  .visually-hidden{
      position: absolute;
      left:     -10000px;
      top:      auto;
      width:    1px;
      height:   1px;
      overflow: hidden;

      &.skip-link:focus {
          position:relative;
          left:0;
          width:auto;
          height:auto;
          background-color: var(--color-main-bg);
          color: var(--color-text-light);
          padding:10px;
          border:2px solid var(--color-text-light);
      }
  }
  .main {
    display: grid;
    row-gap: 32px;
  }
  .block {
      background-color: var(--color-panel-bg-dark);
      border: 1px solid var(--color-panel-border);
      border-radius: 12px;
  }
  .dashboard {
    display: grid;
    gap: 32px;
    grid-template-areas: "current"
                          "daily"
                          "hourly";
    @media (width > calc(1000 / 16 * 1rem)) {
         gap: 48px 32px;
        grid-template-columns: repeat(3, 1fr);
          grid-template-areas: "current current hourly"
                                "daily daily hourly"
                          
    }
  }
}
@layer component {
    .header {
      .header__content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-block-start: 16px;
      }
     
      .header__logo {
        width: calc(137 / 16 * 1rem); /* 137- given by figma and  Converting into rem */

        @media (width >= calc(700 / 16 * 1rem)) { /* Converting into rem - 43.75rem */
          width: calc(197 / 16 * 1rem);
        }
      }
      .header__dropdown {
        width: calc(90 / 16 * 1rem);
      }
      
    }
    .hero {
        .hero__title {
           font-size: clamp(21px, 10vw, var(--font-size-h1));
          
          margin-block-end: 48px;
          text-align:center;
          line-height: 1.2;
         
                          /* 700 */
          @media(width < calc(1000 / 16 * 1rem)){
            max-width: 15ch;
          }
        }
        .hero__content {
          padding-block-start: 48px;
          display:grid;
          justify-items: center;
        }
        .hero__search {
          display: grid;
          gap: 12px 16px;
          width: 100%;
          max-width: calc(656 / 16 * 1rem);

            @media (width >= calc(700 / 16 * 1rem)){
                grid-template-columns:1fr auto;

            }
        }

        .hero__textbox {
          border: none;
          background-color: var(--color-panel-bg-dark);
          background-image: url("assets/images/icon-search.svg");
          background-repeat: no-repeat;
          background-position: 24px center;
          font-size: var(--font-size-search);
          color:var(--color-text-med-light);
          padding:16px 20px 16px 60px;
          border-radius: 12px;
           &:focus {
            outline: 2px solid var(--color-text-med-light);
           }
        }
        
        .hero__button {
          border: none;
          background-color: var(--c-blue-500);
          border-radius: 12px;
          font-size:var(--font-size-search);
          color: var(--color-text-light);
          padding: 16px 24px;
          transition: background-color 120ms ease-in-out;

          &:hover {
            background-color: var(--color-button-bg-hover);
            cursor: pointer;
          }
        }
      }
      .current {
        grid-area: current;
        
          .current__weather {
            display: flex;
            flex-direction: column;
            padding: 40px 24px;
            background-image: url("assets/images/bg-today-small.svg");
            background-repeat: no-repeat;
            background-color: var(--c-blue-700);
            background-size: cover;
            padding-block: 40px;
            gap: 16px;
            background-position: center;
            border-radius: 20px;
            overflow:clip;
            margin-block-end: 20px;

              @media (width >= calc(700 /16 * 1rem)) {
                flex-direction: row;
                align-items:center; 
                justify-content: space-between;
                  background-image: url("assets/images/bg-today-large.svg");
                  padding-block: 83px;
                }
          }

          .current__location {
            text-align: center;
          }

          .current__city {
            font-size: var(--font-size-city);
            font-weight: 700;
            line-height:1.2;
            margin-block-end: 12px;
            text-align: center;

                @media (width >= calc(700 /16 * 1rem)) { 
                  text-align: left;
                }
          }
          .current__date {
            font-size: var(--font-size-date);
            color: var(--color-text-med-light);
            text-align: center;
          

             @media (width >= calc(700 /16 * 1rem)) { 
                   text-align: left;
                }
          }
          .current__info {
            display:flex;
            align-items:center;
            gap: 20px;
          
          }
          
          .current__icon {
            width: 120px;
            height: auto;
          }

          .current__temp {
            font-size: clamp(48px, 20vw, var(--font-size-temp));
            line-height: 1;
            letter-spacing: -2%;
            font-style: italic;
            font-weight: 600;
          }
       
           .current__conditions {
              display: grid;
              grid-template-columns:repeat(2,1fr);
              gap: 16px;

              @media (width >= calc(700 / 16 * 1rem)) {
                grid-template-columns:repeat(4, 1fr);
              }
           }

           .current__condition {
           
            padding: 20px;
           }

          .current__condition-title {
            font-size:var(--font-size-panel-tile);
            color: var(--color-text-med-light);
            margin-block-end: 24px;
          }

          .current__condition-value {
             font-size: var(--font-size-panel-value);
             font-weight: 300;  
          }

      }
     .daily {
       grid-area: daily;
      margin-block-start: 30px;

      .daily__title {
        font-size: var(--font-size-forecast-title);
        margin-block-end: 20px;
      }

      .daily__forecast {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        
        @media (width >= calc(700 /16 * 1rem)) {
           grid-template-columns: repeat(7, 1fr);
        }
      }

      .daily__day{
        display:grid;
        justify-items:center;
        gap: 16px;
        padding: 16px 10px;
        text-align: center;
      }

      .daily__day-title {
        font-size: var(--font-size-forecast-day);
      }

      .daily__day-icon {
        width: 60px;
        height: auto;
      }

      .daily__day-temps {
        font-size: var(--font-size-forecast-temp);
        display: flex;
        justify-content: space-between;
        justify-self: stretch;
      }
    
      .daily__day-low {
        color: var(--color-text-med-light);

      }
     } 
     .hourly {
        grid-area: hourly;
        margin-block-start: 30px;

        .hourly__content {
          background-color: var(--color-panel-bg-dark);
          border-radius: 20px;
          padding: 20px 16px;
        }
        .hourly__header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-block-end: 16px;
        }
        .hourly__title{
            font-size: var(--font-size-forecast-title);
            font-weight: 600;
          }
       
        .hourly__hours{
          display: grid;
          gap: 16px;
        }
        .hourly__hour{
          background-color: var(--color-panel-bg-med);
          border: 1px solid var(--color-panel-border);
          border-radius: 8px;
          display: grid;
          grid-template-columns: auto auto 1fr;
          align-items: center;
          padding: 10px 16px 10px 12px;
          gap: 8px;
        }
        .hourly__hour-icon{
          width: 40px;
          height: auto;
        }
        .hourly__hour-time{
          font-size: var(--font-size-forecast-hour)
        }
        .hourly__hour-temp{
          font-size: var(--font-size-forecast-temp);
          justify-self: end;
        }
     }
}